* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
  background-color: #F8F8F2;
  border-radius: 5%;
  box-shadow: 0 0 5px #50FA7B;
  width: 250px;
}
